In [126]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
#pd.set_option('display.max_rows', None)

In [127]:
import plotly.graph_objects as go
import seaborn as sns
import plotly.express as px
import plotly.io as pio
import matplotlib.pyplot as plt
pio.templates.default = "plotly_dark"

In [128]:
circuits=pd.read_csv('circuits.csv')
constructor_results=pd.read_csv('constructor_results.csv')
constructor_standings=pd.read_csv('constructor_standings.csv')
constructors=pd.read_csv('constructors.csv')
driver_standings=pd.read_csv('driver_standings.csv')
drivers=pd.read_csv('drivers.csv')
lap_times=pd.read_csv('lap_times.csv')
pit_stops=pd.read_csv('pit_stops.csv')
qualifying=pd.read_csv('qualifying.csv')
races=pd.read_csv('races.csv')
results=pd.read_csv('results.csv')
seasons=pd.read_csv('seasons.csv')
status=pd.read_csv('status.csv')

In [129]:
TH_races=races.loc[races['year']>=2014]

In [130]:
qualifying=qualifying.rename(columns={"position":"qualifying_pos"})

In [133]:
qualifying=qualifying.replace("\\N",np.nan)

In [134]:
qualifying['q1']=pd.to_datetime(qualifying['q1'],format="%M:%S.%f")
qualifying['q2']=pd.to_datetime(qualifying['q2'],format="%M:%S.%f")
qualifying['q3']=pd.to_datetime(qualifying['q3'],format="%M:%S.%f")

In [137]:
qualifying['q1_s']=qualifying['q1'].dt.minute*60+qualifying['q1'].dt.second+qualifying['q1'].dt.microsecond*0.000001
qualifying['q2_s']=qualifying['q2'].dt.minute*60+qualifying['q2'].dt.second+qualifying['q2'].dt.microsecond*0.000001
qualifying['q3_s']=qualifying['q3'].dt.minute*60+qualifying['q3'].dt.second+qualifying['q3'].dt.microsecond*0.000001

In [138]:
qualifying.drop(columns=['q1', 'q2', 'q3'],inplace=True)

In [139]:
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q1_s,q2_s,q3_s
0,1,18,1,1,22,1,86.572,85.187,86.714
1,2,18,9,2,4,2,86.103,85.315,86.869
2,3,18,5,1,23,3,85.664,85.452,87.079
3,4,18,13,6,2,4,85.994,85.691,87.178
4,5,18,2,2,3,5,85.960,85.518,87.236

In [140]:
qualifying['q1min']=qualifying['q1_s']
qualifying['q2min']=qualifying['q2_s']
qualifying['q3min']=qualifying['q3_s']

In [141]:
qualifying=qualifying.merge(qualifying.groupby('raceId').aggregate({'q1min':'min','q2min':'min','q3min':'min'}),left_on='raceId',right_on='raceId')

In [143]:
qualifying=qualifying.rename(columns={"q1min_y":"q1min","q2min_y":"q2min","q3min_y":"q3min"})

In [145]:
qualifying.drop(columns=['q1min_x','q2min_x','q3min_x'],inplace=True)

In [147]:
qualifying['q1_delta']=qualifying['q1min']
qualifying['q2_delta']=qualifying['q2min']
qualifying['q3_delta']=qualifying['q3min']

In [151]:
qualifying['q1_delta']=qualifying['q1_s']-qualifying['q1min']
qualifying['q2_delta']=qualifying['q2_s']-qualifying['q2min']
qualifying['q3_delta']=qualifying['q3_s']-qualifying['q3min']

In [158]:
qualifying.columns

Index(['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'qualifying_pos', 'q1_s', 'q2_s', 'q3_s', 'q1min', 'q2min', 'q3min',
       'q1_delta', 'q2_delta', 'q3_delta'],
      dtype='object')

In [216]:
qualifyingq1=qualifying[['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'qualifying_pos','q1_s','q1_delta']]
qualifyingq2=qualifying[['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'qualifying_pos','q2_s','q2_delta']]

qualifyingq3=qualifying[['qualifyId', 'raceId', 'driverId', 'constructorId', 'number',
       'qualifying_pos','q3_s','q3_delta']]

In [252]:
results_temp=results[['resultId', 'raceId', 'driverId', 'constructorId','position','statusId','rank']]
results_temp.rename(columns={'rank':'driverRanking','position':'final_position',},inplace=True)
results_temp.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,resultId,raceId,driverId,constructorId,final_position,statusId,driverRanking
0,1,18,1,1,1,1,2
1,2,18,2,2,2,1,3
2,3,18,3,3,3,1,5
3,4,18,4,4,4,1,7
4,5,18,5,1,5,1,1

In [258]:
TH_races_temp=TH_races[['raceId','year','circuitId']]
TH_races_temp.head()

     raceId  year  circuitId
897     900  2014          1
898     901  2014          2
899     902  2014          3
900     903  2014         17
901     904  2014          4

In [231]:
constructor_standings_temp=constructor_standings[['constructorStandingsId', 'raceId', 'constructorId','position']]
constructor_standings_temp.rename(columns={'position':'constructor_ranking'},inplace=True)
constructor_standings_temp.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

   constructorStandingsId  raceId  constructorId  constructor_ranking
0                       1      18              1                    1
1                       2      18              2                    3
2                       3      18              3                    2
3                       4      18              4                    4
4                       5      18              5                    5

In [242]:
pit_stops_temp=pit_stops.drop(columns=['time','duration'])
pit_stops_temp.head()

   raceId  driverId  stop  lap  milliseconds
0     841       153     1    1         26898
1     841        30     1    1         25021
2     841        17     1   11         23426
3     841         4     1   12         23251
4     841        13     1   13         23842

In [327]:
temp=qualifyingq2
temp=temp.dropna()
qualifyingq2=temp
qualifyingq2

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q2_s,q2_delta
0,1,18,1,1,22,1,85.187,0.000
1,2,18,9,2,4,2,85.315,0.128
2,3,18,5,1,23,3,85.452,0.265
3,4,18,13,6,2,4,85.691,0.504
4,5,18,2,2,3,5,85.518,0.331
...,...,...,...,...,...,...,...,...
8764,8805,1055,840,117,18,11,77.974,1.052
8765,8806,1055,842,213,10,12,77.982,1.060
8766,8807,1055,20,117,5,13,78.079,1.157
8767,8808,1055,841,51,99,14,78.356,1.434
8768,8809,1055,847,3,63,15,79.154,2.232

In [256]:
temp=qualifyingq3
temp=temp.dropna()
qualifyingq3=temp

In [259]:
qualifyingq1

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q1_s,q1_delta
0,1,18,1,1,22,1,86.572,0.908
1,2,18,9,2,4,2,86.103,0.439
2,3,18,5,1,23,3,85.664,0.000
3,4,18,13,6,2,4,85.994,0.330
4,5,18,2,2,3,5,85.960,0.296
...,...,...,...,...,...,...,...,...
8769,8810,1055,852,213,22,16,78.556,0.735
8770,8811,1055,8,51,7,17,78.917,1.096
8771,8812,1055,854,210,47,18,79.117,1.296
8772,8813,1055,849,3,6,19,79.219,1.398
8773,8814,1055,853,210,9,20,79.807,1.986

In [318]:
q1=qualifyingq1.merge(results_temp,left_on=['raceId','driverId','constructorId'],right_on=['raceId','driverId','constructorId'])
q1=q1.merge(constructor_standings_temp,left_on=['raceId','constructorId'],right_on=['raceId','constructorId'])
q1=q1.merge(TH_races_temp,left_on=['raceId'],right_on=['raceId'])
q1=q1.merge(pit_stops_temp,left_on=['raceId','driverId'],right_on=['raceId','driverId'])
q1=q1.loc[(q1['statusId']==1) | (q1['statusId']==11) | (q1['statusId']==12)]
q1.head()

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q1_s,q1_delta,resultId,final_position,statusId,driverRanking,constructorStandingsId,constructor_ranking,year,circuitId,stop,lap,milliseconds
0,5862,900,3,131,6,3,92.564,1.789,22130,1,1,1,25931,2,2014,1,1,12,24331
1,5862,900,3,131,6,3,92.564,1.789,22130,1,1,1,25931,2,2014,1,2,38,23673
4,5863,900,825,1,20,4,90.949,0.174,22131,2,1,6,25932,1,2014,1,1,12,23150
5,5863,900,825,1,20,4,90.949,0.174,22131,2,1,6,25932,1,2014,1,2,37,22273
6,5870,900,18,1,22,11,91.396,0.621,22132,3,1,5,25932,1,2014,1,1,11,22411

In [333]:
q2=qualifyingq2.merge(results_temp,left_on=['raceId','driverId','constructorId'],right_on=['raceId','driverId','constructorId'])
q2=q2.merge(constructor_standings_temp,left_on=['raceId','constructorId'],right_on=['raceId','constructorId'])
q2=q2.merge(TH_races_temp,left_on=['raceId'],right_on=['raceId'])
q2=q2.merge(pit_stops_temp,left_on=['raceId','driverId'],right_on=['raceId','driverId'])
q2=q2.loc[(q2['statusId']==1) | (q2['statusId']==11) | (q2['statusId']==12)]

q2.head()

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q2_s,q2_delta,resultId,final_position,statusId,driverRanking,constructorStandingsId,constructor_ranking,year,circuitId,stop,lap,milliseconds
0,5862,900,3,131,6,3,102.264,0.000,22130,1,1,1,25931,2,2014,1,1,12,24331
1,5862,900,3,131,6,3,102.264,0.000,22130,1,1,1,25931,2,2014,1,2,38,23673
4,5863,900,825,1,20,4,103.247,0.983,22131,2,1,6,25932,1,2014,1,1,12,23150
5,5863,900,825,1,20,4,103.247,0.983,22131,2,1,6,25932,1,2014,1,2,37,22273
6,5870,900,18,1,22,11,104.437,2.173,22132,3,1,5,25932,1,2014,1,1,11,22411

In [334]:
q3=qualifyingq3.merge(results_temp,left_on=['raceId','driverId','constructorId'],right_on=['raceId','driverId','constructorId'])
q3=q3.merge(constructor_standings_temp,left_on=['raceId','constructorId'],right_on=['raceId','constructorId'])
q3=q3.merge(TH_races_temp,left_on=['raceId'],right_on=['raceId'])
q3=q3.merge(pit_stops_temp,left_on=['raceId','driverId'],right_on=['raceId','driverId'])
q3=q3.loc[(q3['statusId']==1) | (q3['statusId']==11) | (q3['statusId']==12)]

q3.head()

,qualifyId,raceId,driverId,constructorId,number,qualifying_pos,q3_s,q3_delta,resultId,final_position,statusId,driverRanking,constructorStandingsId,constructor_ranking,year,circuitId,stop,lap,milliseconds
0,5862,900,3,131,6,3,104.595,0.364,22130,1,1,1,25931,2,2014,1,1,12,24331
1,5862,900,3,131,6,3,104.595,0.364,22130,1,1,1,25931,2,2014,1,2,38,23673
4,5863,900,825,1,20,4,105.745,1.514,22131,2,1,6,25932,1,2014,1,1,12,23150
5,5863,900,825,1,20,4,105.745,1.514,22131,2,1,6,25932,1,2014,1,2,37,22273
6,5864,900,4,6,14,5,105.819,1.588,22133,4,1,7,25933,3,2014,1,1,12,22887

# Machine Learning

In [336]:
from sklearn import model_selection
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import plotly.express as px
import plotly.graph_objects as go
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

q1.head()

In [338]:
q1.drop(columns=['qualifyId','resultId','constructorStandingsId','raceId'],inplace=True)

In [341]:
test=pd.get_dummies(q1,columns=['driverId','constructorId','circuitId'])

In [351]:
test=test.dropna()

In [352]:
X_train, X_test, y_train, y_test = train_test_split(test.drop(columns='final_position'), test['final_position'], test_size = 0.25, random_state=8)

## Decision Tree

In [361]:
dtree = DecisionTreeClassifier(max_depth=50, random_state=8)
dtree.fit(X_train, y_train)
tr1 = dtree.predict(X_train)
y1 = dtree.predict(X_test)

In [362]:
print('R squared via prediction on training set: ', r2_score(y_train, tr1))
print('R squared via prediction on test set: ', r2_score(y_test, y1))

R squared via prediction on training set:  1.0
R squared via prediction on test set:  0.8070974270020237